<footer class="footer">
  <small>
    <%= link_to "InternetFeels", root_url %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "@internetfeels", "https://twitter.com/internetfeels" %></li>
      <li><a href="mailto:internetfeels@gmail.com">Contact</a></li>
    </ul>
  </nav>
</footer>